# macOS
.DS_Store
.netrc
# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
# SwiftPM
Packages
build/
DerivedData/
.swiftpm
# Mercurial
.hg/
# JetBrains
.idea
